@import "../styles/sass/variables";

.LimitOverlay {
  position: absolute;
  // z-index: 150;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.LimitOverlay p {
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  padding: 0 10%;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  @media screen and (max-width: $handheld-breakpoint) {
    font-size: 13px;
    line-height: 18px;
  }
}
