.Like {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #fff;
  font-size: 22px;
  cursor: pointer;
  z-index: 1;
}

@keyframes rocket {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.Like.liked {
  animation: rocket ease-in-out 0.3s;
}

.Like .showOnHover {
  display: none;
  transition: transform ease-out 0.08s;
}

.Like.hover-enabled:hover svg {
  display: none;
}

.Like.hover-enabled:hover .showOnHover {
  display: inline-block;
  transform: scale(1.2);
}
